%font-style{
    font-family: 'Pangolin', cursive;
    font-size: 20px;
    margin: 0;
    line-height: 1;
}

body{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    background-size: cover;
    background-image: url("../img/fondo.jpg");
}

.inicio{
    display: block;
    width: 30%;
    height: 500px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 8px solid black;
    border-radius: 10px;
    background-color: rgba(250, 235, 215, 0.8);
    .text-inicio{
        display: block;
        text-align: center;
        margin: 20px;
        .title{
            font-family: 'Pacifico', cursive;
            color: #38acd5;
            font-weight: bold;
            font-size: 40px;
            line-height: 2;
        }
        p{
            @extend %font-style;
        }
    }
    .inputNombre{
        display: block;
        text-align: center;
        input{
            width: 300px;
            @extend %font-style;
        }
    }
    .question{
        display: block;
        text-align: center;
        margin-top: 18px;
        margin-bottom: 8px;
        p{
            @extend %font-style;
        }
    }
    .botones{
        display: block;
        text-align: center;
        button{
            @extend %font-style;
            width: 300px;
            display: block;
            margin: auto;
            height: 40px;
            margin-top: 10px;
            color: white;
            background-color: #ff9802;
            border-radius: 10px;
            border: none;
            &:hover{
                background-color: rgb(255, 199, 94);
                cursor: pointer;
            }
        }
    }
    .error{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        margin: auto;
        margin-top: 10px;
        padding: 2px;
        width: 300px;
        height: 40px;
        background-color: pink;
        border-radius: 10px;
        @extend %font-style;
        color: brown;
    }
}

.main-container{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 8px solid black;
    border-radius: 10px;
    background:rgba(255,255,255,0.4);
    .text-container{
        @extend %font-style;
        text-align: center;
        .title{
            color: #38acd5;
            font-family: 'Pacifico', cursive;
            font-weight: bold;
            font-size: 40px;
            line-height: 1;
        }
        .intentos-txt{
            @extend %font-style;
            .num-intentos{
                font-family: 'Pacifico';
                color: #38acd5;
                font-size: 20px;
            }
        }
        .nivel{
            .niveles{
                @extend %font-style;
            }
        }
        .saludo{
            .saludos{
                @extend %font-style;
                font-size: 30px;
            }
        }
    }
    .tablero{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        width: 80%;
        .card {
            border-style: solid;
            border-color: #ff9802;
            width: 23%;
            height: 200px;
            margin: 5px;
            position: relative;
            &:hover{
                cursor: pointer;
                -webkit-box-shadow: -5px 5px 5px 0px rgba(150,150,150,0.59);
                -moz-box-shadow: -5px 5px 5px 0px rgba(150,150,150,0.59);
                box-shadow: -5px 5px 5px 0px rgba(150,150,150,0.59);
            }
            &.visible{
                .cartaTapada{
                    display: none;
                } 
            } 
            .cartaTapada{
                width: 100%;
                height: 100%;
                margin: auto;
                position: absolute;
            }
            .cartaDestapada{
                width: 100%;
                height: 100%;
                margin: auto;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .intentos{
        border: 6px solid #38acd5;
        border-radius: 10px;
        background-color: white;
        width: 80%;
        margin: auto;
        margin-bottom: 8px;
        text-align: center;
        .contador-intentos{
            font-weight: bold;
            color: black;
            font-family: 'Times New Roman', Times, serif;
        }
    }
}

#modal{    
    background-color: #f9e9dfcc;;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    @extend %font-style;
    #gana{
        width: 50%;
        background-color: white;
        color: black;
        z-index: 1;
        top: 10%;
        left: 25%;
        position: absolute;
        padding: 50px;
        flex-direction: column;
        font-size: 20px;
        align-items: center;
        border: 7px solid black;
        border-radius: 5px;
        text-align: center;
        .botones {
            display: flex;
            justify-content: center;
            margin: auto;
            .volver-jugar {
                background-color: #f39d2d;
                border: none;
                color: white;
                width: 100%;
                padding: 5px;
                border-radius: 5px;
                font-family: "Pangolin", cursive;
                &:hover{
                    background-color: rgb(255, 199, 94);
                    cursor: pointer;
                }
            }
        }
        .ranking{
            width: 98%;
            height: auto;    
            text-align: center;
            table{
                border-collapse: collapse;
                width: 100%;
                font-size: 13px;            
                    th{
                        text-align: center;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        background-color: #f9e9dfcc;
                        color: white;
                    }tr:nth-child(even){
                        background-color: #f2f2f2
                    }td{
                        text-align: center;
                        padding-top: 8px;
                        padding-bottom: 8px;
                    }
            }
        } 
    }  
    #pierde{
        width: 50%;
        background-color: white;
        color: black;
        z-index: 1;
        top: 10%;
        height: auto;
        left: 25%;
        right: 50%;
        position: absolute;
        padding: 50px;
        flex-direction: column;
        font-size: 20px;
        align-items: center;
        border: 7px solid black;
        border-radius: 5px;
        text-align: center;    
        .botones{
            display: flex;
            justify-content: center;
            margin: auto;
            .volver-jugar{ 
                background-color: #f39d2d;
                border: none;
                color: white;
                width: 100%;
                padding: 5px;
                border-radius: 5px;
                font-family: "Pangolin", cursive;
                &:hover{
                    background-color: rgb(255, 199, 94);
                    cursor: pointer;
                }
            }
        }
    }
}

.oculto{
    display: none;
}

.gris{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

@media (max-width: 800px) {
    .inicio{
        width: 80%;
        .inputNombre{
            #name{
                width: 200px;
            }
        }
        .botones{
            button{
                width: 200px;
            }
        }
        .error{
            width: 200px;
        } 
    }
    .main-container{
        .text-container{
            p{
                line-height: 0;
            }
            .title{
                line-height: 0.5;
            }
        }
        .tablero{
            width: 100%;
            .card{
                width: 25%;
                height: 100px;
            }
        }
    }
    #modal{
        #gana{
            left: 10%;
            top: 5px;
        }
        #pierde{
            top: 30%;
            left: 10%;
        }
    }
}