body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-size: cover;
  background-image: url("../img/fondo.jpg");
}

.inicio {
  display: block;
  width: 30%;
  height: 500px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  border: 8px solid black;
  border-radius: 10px;
  background-color: rgba(250, 235, 215, 0.8);
}
.inicio .text-inicio {
  display: block;
  text-align: center;
  margin: 20px;
}
.inicio .text-inicio .title {
  font-family: "Pacifico", cursive;
  color: #38acd5;
  font-weight: bold;
  font-size: 40px;
  line-height: 2;
}
.inicio .text-inicio p {
  font-family: "Pangolin", cursive;
  font-size: 20px;
  margin: 0;
  line-height: 1;
}
.inicio .inputNombre {
  display: block;
  text-align: center;
}
.inicio .inputNombre input {
  width: 300px;
  font-family: "Pangolin", cursive;
  font-size: 20px;
}
.inicio .question {
  display: block;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 8px;
}
.inicio .question p {
  font-family: "Pangolin", cursive;
  font-size: 20px;
  margin: 0;
  line-height: 1;
}
.inicio .botones {
  display: block;
  text-align: center;
}
.inicio .botones button {
  width: 300px;
  display: block;
  margin: auto;
  height: 40px;
  margin-top: 10px;
  font-family: "Pangolin", cursive;
  font-size: 20px;
  color: white;
  background-color: #ff9802;
  border-radius: 10px;
  border: none;
}
.inicio .botones button:hover {
  background-color: #ffc75e;
  cursor: pointer;
}
.inicio .error {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
  padding: 2px;
  width: 300px;
  height: 40px;
  background-color: pink;
  border-radius: 10px;
  font-family: "Pangolin", cursive;
  font-size: 20px;
  color: brown;
}

.main-container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  border: 8px solid black;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
}
.main-container .text-container {
  text-align: center;
}
.main-container .text-container .title {
  color: #38acd5;
  font-family: "Pacifico", cursive;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
}
.main-container .text-container p {
  font-family: "Pangolin", cursive;
  font-size: 20px;
  margin: 0;
  line-height: 1;
}
.main-container .text-container .intentos-txt .num-intentos {
  font-family: "Pacifico";
  color: #38acd5;
  font-size: 20px;
}
.main-container .text-container .nivel .niveles {
  font-family: "Pangolin", cursive;
  font-size: 20px;
  margin: 0;
}
.main-container .text-container .saludo .saludos {
  font-family: "Pangolin", cursive;
  font-size: 30px;
  margin: 0;
}
.main-container .tablero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 80%;
}
.main-container .tablero .card {
  border-style: solid;
  border-color: #ff9802;
  width: 23%;
  height: 200px;
  margin: 5px;
  position: relative;
}
.main-container .tablero .card:hover {
  cursor: pointer;
  -webkit-box-shadow: -5px 5px 5px 0px rgba(150, 150, 150, 0.59);
  -moz-box-shadow: -5px 5px 5px 0px rgba(150, 150, 150, 0.59);
  box-shadow: -5px 5px 5px 0px rgba(150, 150, 150, 0.59);
}
.main-container .tablero .card.visible .cartaTapada {
  display: none;
}
.main-container .tablero .card .cartaTapada {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
}
.main-container .tablero .card .cartaDestapada {
  width: 100%;
  height: 100%;
  margin: auto;
}
.main-container .tablero .card img {
  width: 100%;
  height: 100%;
}
.main-container .intentos {
  border: 6px solid #38acd5;
  border-radius: 10px;
  background-color: white;
  width: 80%;
  margin: auto;
  margin-bottom: 8px;
  text-align: center;
}
.main-container .intentos .contador-intentos {
  font-weight: bold;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

#modal {
  background-color: #f9e9dfcc;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
}
#modal #gana {
  width: 50%;
  background-color: white;
  color: black;
  z-index: 1;
  top: 10%;
  height: auto;
  left: 25%;
  right: 50%;
  position: absolute;
  padding: 50px;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  border: 7px solid black;
  border-radius: 5px;
  text-align: center;
}
#modal #gana .botones {
  display: flex;
  justify-content: center;
  margin: auto;
}
#modal #gana .botones .volver-jugar {
  background-color: #f39d2d;
  border: none;
  color: white;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  font-family: "Sniglet", cursive;
}
#modal #gana .ranking {
  width: 98%;
  height: auto;
  text-align: center;
}
#modal #gana .ranking table {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}
#modal #gana .ranking table th {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #f9e9dfcc;
  color: white;
}
#modal #gana .ranking table tr:nth-child(even) {
  background-color: #f2f2f2;
}
#modal #gana .ranking table td {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
#modal #pierde {
  width: 50%;
  background-color: white;
  color: black;
  z-index: 1;
  top: 10%;
  height: auto;
  left: 25%;
  right: 50%;
  position: absolute;
  padding: 50px;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  border: 7px solid black;
  border-radius: 5px;
  text-align: center;
}
#modal #pierde .botones {
  display: flex;
  justify-content: center;
  margin: auto;
}
#modal #pierde .botones .volver-jugar {
  background-color: #f39d2d;
  border: none;
  color: white;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  font-family: "Sniglet", cursive;
}

.oculto {
  display: none;
}

.gris {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

@media (max-width: 800px) {
  .inicio {
    margin: auto;
    width: 80%;
    height: 480px;
  }
  .inicio .input input {
    width: 200px;
  }
  .inicio .botones button {
    width: 200px;
  }

  .main-container .second-container .img-container {
    width: 100%;
  }
  .main-container .second-container .img-container .card {
    width: 26%;
    height: 80px;
    margin: 2px;
  }
}

/*# sourceMappingURL=styles.css.map */
